@layer utilities {

  /*Footer styling*/
  .footer {
    font-family: Inter;
  }

  .footer-links li {
    margin: 16px 0;
  }

  .footer-md img {
    width: clamp(110px, 60%, 200px);
    height: clamp(57px, 50%, 103px);
  }

  /*Nav Bar*/
  #modal,
  header {
    font-family: Inter;
  }

  /*Schedule page*/
  @font-face {
    font-family: RBNo;
    src: url("./font/RBNo3.1-Bold.otf");
  }

  @font-face {
    font-family: RBNo;
    src: url("./font/RBNo3.1-Thin.otf");
    font-weight: 100;
  }

  @font-face {
    font-family: RBNo;
    src: url("./font/RBNo3.1-Extrabold.otf");
    font-weight: 450;
  }

  #tab1,
  #tab2,
  #tab3 {
    font-family: RBNo;
    font-size: 24px;
  }

  .body-p {
    font-size: clamp(12px, 3vw, 24px);
  }

  .pres-name {
    font-size: clamp(8px, 2vw, 16px);
  }

  .body img {
    width: clamp(79px, 30%, 167px);
    height: auto;
  }

  .bb img {
    width: clamp(51px, 70%, 167px);
    height: auto;
  }

  p {
    font-family: Inter;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /*Home page*/
  #faq {
    font-family: Inter;
  }

  body {
    font-family: Inter;
  }

  #happens p,
  #happens span {
    font-size: clamp(33px, 4vw, 46px) !important;
  }

  #home-speaker p,
  #home-event p {
    font-size: clamp(18px, 1.5vw, 16px);
  }

  #home-section img {
    width: clamp(32px, 100%, 48px);
    height: auto;
  }

  #home-section p {
    font-size: clamp(12px, 1rem, 24px);
  }

  @media screen and (min-width: 1090px) {
    #home-section p {
      font-size: 24px;
    }
  }

  #why-sponsor p {
    font-size: clamp(6px, 1rem, 16px);
  }

  #topic_1_div:hover {
    background-color: #DE0220;
    color: #FFFFFF;
    width: 95%;
  }

  #topic_1_div:hover #topic_1_img_div {
    opacity: 0.5;
  }

  #topic_2_div:hover {
    background-color: #000D30;
    color: #FFFFFF;
    width: 95%;
  }

  #topic_2_div:hover #topic_2_img_div {
    opacity: 0.5;
  }

  #topic_3_div:hover {
    background-color: #DE0220;
    color: #FFFFFF;
    width: 95%;
  }

  #topic_3_div:hover #topic_3_img_div {
    opacity: 0.5;
  }

  #topic_4_div:hover {
    background-color: #000D30;
    color: #FFFFFF;
    width: 95%;
  }

  #topic_4_div:hover #topic_4_img_div {
    opacity: 0.5;
  }

  /*Travel guide*/
  #travel-header p {
    font-size: clamp(24px, 3rem, 48px);
    font-weight: 700;
  }

  #travel-header span {
    font-size: clamp(12px, 1rem, 24px);
  }

  #travel-p-head {
    font-size: clamp(16px, 3rem, 32px);
    font-weight: 700;
  }

  /*Mentorship Page*/
  #mentorship-header p {
    font-size: clamp(24px, 3rem, 48px);
    font-weight: 700;
    line-height: 55px;
  }

  #mentorship-p-head {
    font-size: clamp(16px, 1.5rem, 32px);
    font-weight: 700;
  }

  #mentorship-benefits li {
    font-size: clamp(12px, 1rem, 16px);
  }

  #mentorship-btn-div a {
    font-size: clamp(12px, 1rem, 16px);
  }

  #mentorship-questions p {
    font-size: clamp(48px, 2rem, 64px);
    font-weight: 700;
    line-height: 56px;
  }
}